
    <div class="row aboutus-wrapper">
      <div class="col-12">
         <h1 class="header-text">ABOUT</h1>
         <hr class="header-line">
      </div>

      <div class="row my-5 mx-auto">
          <div class="col-sm-12 col-md-6 col-lg-5 ml-auto">
              <img class="profilepic col-12" src="assets/img/profile.png">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5 mr-auto my-5">
    
            <h1 class="col-12">CHATSUDA RATTARASAN</h1>
            <h6 class="col-12">Software Engineer | UI & UX Developer | Co-Founder of COAON</h6>
    
            <div class="row my-5">
              <!-- detail 1 -->
              <div class="col-1">
                  <p><i class=" fa fa-caret-right"></i></p> 
              </div>
              <p class="col-11">A <span [style.color]="'#4FB99F'">Software Engineer</span> who focuses on writing clean, elegant, and efficient code with less time complexity.</p>
    
              <!-- detail 2 -->
              <div class="col-1">
                  <p><i class=" fa fa-caret-right"></i></p> 
                </div>
                <p class="col-11">A <span [style.color]="'#4FB99F'">UX & UI Developer</span> who has passion on creating intuitive and dynamic user experiences.</p>
              
                <!-- detail 3 -->
                <div class="col-1">
                  <p><i class=" fa fa-caret-right"></i></p> 
                </div>
                <p class="col-11">A person who has a strong desire for expansion of current skill set in a fast-paced work environment</p>
            </div>
          </div>
        
      </div>
      
        

        
    </div>
      

  

