<div  class="container">
  <div class="row justify-content-center">
      <h1>About Me</h1>
      <p>
        <b>I have recently graduated with a master degree in informatics at Northeastern University.</b>
         I did a bachelor degree in computer engineering in Thailand. 
         I have had many opportunities to participate in different projects at different organizations
          in other countries including Thailand, Germany, and the United States. I strive to create the software 
          that not only functions efficiently but also provide a good user experience and less time complexity. 
          I am a hard working person who is focusing on finishing the jobs. 
          I am also flexible to work in different surroundings with different people from different backgrounds. 
          Apart from web developing, I have had many opportunities to work on applications to support UX and UI functions for different companies. 
          Moreover, I am always looking for opportunities to work with people who willing to share knowledge as much as I want to learn.
      </p>
  </div>
</div>