
.skillicon{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.skilltext{
    text-align: center;
    padding: 20px 50px;
}
.skillheader{
    text-align: center;
    padding-top: 10px;
}


// Backend ICON

.backendCircle{fill:#011c41;}
.backendtabbar{fill:#41596b;}
.backendscreen{fill:#f2f2f2;}
.backendcloseButton{fill:#f2705b;}
.backendminimizeButton{fill:#ffd05c;}
.backendmaximizeButton{fill:#89d6f7;}
.backendcode{fill:#65c5b8;}
.backendcode2{fill:#4fbfa8;}
.backendtabbar2{fill:#cdd5df;}


// Design ICON
.designCircle{fill:#011c41;}
.greenCircle{fill:#7ce854;}
.blueCircle{fill:#00c3ff;}
.darkblueCircle{fill:#00aaf0;}
.darkerblueCircle{fill:#008cff;}
.redCircle{fill:#ff5050;}
.darkerredCircle{fill:#ed3a3a;}
.yellowCircle{fill:#ffc850;}
.pinkCircle{fill:#ff80bd;}
.darkerpinkCircle{fill:#f962b1;}
.grayCircle{fill:#707487;}
.peachCircle{fill:#f98585;}
.lightgreenCircle{fill:#9bf57d;}
.lightblueCircle{fill:#5bddfc;}


// Database ICON
.databaseCircle{fill:#011c41;}
.databaseCloud{fill:#66a7f6;}
.databasenode{fill:#ffda44;}
.databasenode2{fill:#ffc170;}
.databaseline{fill:#fff;}

// Frontend ICON
.frontendCircle{fill:#011c41;}
.frontendscreenbar{fill:#fdbd40;}
.frontendscreen{fill:#fcf05a;}
.frontendmobilescreen{fill:#5f79ba;}


// tools ICON              
.toolCircle{fill:#011c41;}
.toolblue{fill:#84dbff;}
.tooldarkblue{fill:#54c0eb;}
.toolgreen{fill:#4cdbc4;}
.toolred{fill:#ff7058;}

// Knowledge ICON
.knowledgeCircle{fill:#011c41;}
.knowledgeBlubgrey{fill:#dbe6fd;}
.knowledgeBlubblue{fill:#17afdc;}
.knowledgeBlubyellow{fill:#fccc38;}
.knowledgeBlubpurple{fill:#5358a1;}
.knowledgeBlubred{fill:#f4393d;}
.knowledgecream{fill:#f7edd3;}