
<div class="row TBpadding">

  <div class="col-12 mb-5">
    <h1 class="header-text">My Work</h1>
    <hr class="header-line">
  </div>
    <div class="container1 col-11 offset-1">
        <img src="assets/img/backyard.png" alt="Avatar" class="image rounded mx-auto d-block" style="width:50%">
        <div class="middle">
          <a href="http://rattarasan.com/backyardmedia/index.php" class="text">Visit Website</a>
        </div>
    </div>
    <div class="col-10 mx-auto my-5">
      <p> Backyard Media website is the web development project collaborated between students from Northeastern University and Backyard Media Company.
          The project is not only making website function efficiently but also provide a good user experience for the target audience. 
          The project also aims to improve web design and develop web applications in order to help the organization reach out to more potential listeners, 
          podcasters, advertisers for business development.</p>

      <p>HTML BOOTSTRAP CSS JQUERY JAVASCRIPT AJAX PHP MYSQL</p>
    </div>
</div>
