<div class="container-fluid">
  <div class="row section1" [style.background]="'#112F41'">
    <!-- css-typing  -->
    <div class="col-md-12 ">
      <!-- <div class="mx-auto d-block"> -->
        <!-- <h1>Hi,</h1>
        <h1>I'm <span [style.color]="'orange'">{{ name }} </span></h1>
        <h1>Software Delveloper</h1> -->

        <h1 [style.color]="'white'" class="vcenter">COMING SOON</h1>
      <!-- </div> -->
    </div>
  </div>
  <app-about></app-about>
  <app-skill></app-skill>
  <app-mywork></app-mywork>

</div>